body{
	font-family: Helvetica,sans-serif;
}
#category{
	margin-top: 10vh;
	padding: 20px;
	width: 185px;
	border: 1px solid #d7d7d7;
	padding-right: 0;
}
#category-title{
	font-weight: 600;
}
.list-group-item {
    border: unset;
    padding-left: 0;
    padding-bottom: 0;
    padding-top: 5px;
    color:#484848;
    font-size: 11px;
}
.item-number{
	color: #919191;
}
#content{
	margin-top: 10vh;
	position: relative;
	border: 1px solid #e8e8e8;
}
.card{
	width: 250px;
	border: unset;
	border-bottom: 1px solid #ddd;
}
.item-row{
	margin-left: 0%;
	margin-right: 0%;
	padding-top: 30px;
	padding-left: 30px;
	border-bottom: 1px solid #e8e8e8;
}
.percent{
	background-color: #f20202;
	color: #fff;
	text-align: center;
	width: 100%;
	height: 36px;
	border-radius: 5px;
	padding-top: 8%;
}
.prices{
	list-style: none;
	text-align: left;
	margin: 0;
	padding: 0;
}
#price-align{
	padding-right: 0;
	margin-right: 0;
}
.old-price{
	font-size: 12px;
	text-decoration: line-through;
	color: #919191;
}
.old-price2{
	font-size: 12px;
	color: #919191;
}
.jumbotron {
	padding: 10px;
	margin-left: 7%;
	margin-top: 3%;
}
.cart-discount{
	list-style: none;
	text-align: left;
	margin: 0;
	padding: 0;
}
.cart-price{
	font-weight: 700;
	font-size: 20px;
}
.green-text{
	color:#349e00;
}
.text-weight-600{
	font-weight: 600;
}
.info-text{
	margin-left: 8%;
}
.new-price{
	font-weight: 600;
}
#icon-grid{
	height: 25px;
	position: absolute;
	right: 50px;
	cursor: pointer;
}
#icon-grid2{
	height: 25px;
	position: absolute;
	right: 0;
	cursor: pointer;
}
#pagination a, #pagination span {
    width: 51px;
    height: 32px;
    display: block;
    background-color: #eee;
    color: #484848;
}
a {
	text-decoration: none !important;
}
#pagination ul li {
    border-radius: 16px;
    -moz-border-radius: 16px;
    -o-border-radius: 16px;
    -webkit-border-radius: 16px;
    -ms-webkit-radius: 16px;
    zoom: 1;
    display: inline-block;
    margin-right: 10px;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    line-height: 32px;
    overflow: hidden;
}
#pagination {
    padding: 40px 20px;
    clear: both;
    text-align: center;
    border-top: 1px solid #e5e5e5;
    margin-top: -1px;
    margin-left: 17%;
}
#pagination a.active {
    background-color: #ff6000;
    color: #fff;
}
